{erl_opts, [debug_info]}.

{deps, []}.

{project_plugins, []}.

{profiles, [
    {chapter3, [
        {src_dirs, ["chapter-3"]}
    ]},
    {chapter4, [
        {src_dirs, ["chapter-4"]}
    ]},
    {chapter5, [
        {src_dirs, ["chapter-5"]}
    ]},
    {chapter10, [
        {src_dirs, ["chapter-10"]}
    ]},
    {chapter11, [
        {src_dirs, ["chapter-11"]}
    ]}
]}.

{shell, [
    {apps, []}
]}.
